.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  width: 90%;
  max-width: 680px;
  border: 1px solid #d1dce3;
  border-radius: 5px;
  padding: 10px 60px;
  padding-left: ;
  padding-right: ;
  align-items: center;
}
